# Node.js
node_modules/

# Dependency lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs/
*.log

# IDE-specific
.idea/
.vscode/

# Output files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/
.nyc_output/

# dotenv environment variables file
.env
